<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>
<% if user_signed_in? %>
	<% if (review.user == current_user) || (current_user.admin?) %>
		<%= link_to 'Edit', edit_review_path(@review), class: "btn btn-link"  %> |
		<%= link_to 'Back', reviews_path, class: "btn btn-link"  %>
	<% end %>
<% end %>
